<h1>Players</h1>

<% @players.each_with_index do |player, index| %>
<h3>Player: <%= player[:Player]%></h3>
<h3>Position: <%= player[:Position]%></h3>
<h3>Team: <%= player[:Team]%></h3>
<h3>Status: <%= player[:Status]%></h3>

<a href="/players/<%=index%>">View</a>
<a href="/players/<%=index%>/edit">Edit</a>

<form action="/players/<%=index%>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form>

<hr>

<% end %>